BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #cccccc
}
.navHeading {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; FONT: bold 10px Verdana, Arial, sans-serif; COLOR: #ffffff; PADDING-TOP: 3px; BACKGROUND-COLOR: #333333
}
.navHeading A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.navHeading A:hover {
	COLOR: #edc508; TEXT-DECORATION: none
}
.navItem {
	PADDING-RIGHT: 2px; PADDING-LEFT: 6px; PADDING-BOTTOM: 2px; FONT: bold 10px Verdana, Arial, sans-serif; COLOR: #dedfbd; PADDING-TOP: 2px; BACKGROUND-COLOR: #7d7d7d
}
.navItem A {
	COLOR: #ffcc22; TEXT-DECORATION: none
}
.navItem A:hover {
	COLOR: #f2f2f2; TEXT-DECORATION: none
}
.navdivider {
	OVERFLOW-Y: hidden; FONT-SIZE: 1px; LINE-HEIGHT: 1px; HEIGHT: 1px; BACKGROUND-COLOR: #636363
}
.aTOz {
	PADDING-RIGHT: 14px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
.quickLinks {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; WIDTH: 126px; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal
}
.navBottom {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; FONT: bold 10px Arial, Verdana, sans-serif; COLOR: #ffcc22; PADDING-TOP: 3px; HEIGHT: 15px; BACKGROUND-COLOR: #333333; TEXT-ALIGN: center
}
.navBottom A {
	COLOR: #ffcc22; TEXT-DECORATION: none
}
.navBottom A:hover {
	COLOR: #f2f2f2; TEXT-DECORATION: none
}
.columnTDappearance {
	BACKGROUND-COLOR: #7d7d7d
}
.contentTDappearance {
	HEIGHT: 400px; BACKGROUND-COLOR: #ebebeb
}
.contentPageAppearance {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-SIZE: 11px; PADDING-BOTTOM: 8px; COLOR: #333333; PADDING-TOP: 8px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 400px; BACKGROUND-COLOR: #ebebeb
}
.contentPageAppearance A {
	COLOR: #333333
}
.contentPageAppearance A:hover {
	COLOR: #000000
}
.textContent {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.textContent A {
	COLOR: #666666; TEXT-DECORATION: underline
}
.textContent A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; LINE-HEIGHT: 20px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H2 {
	FONT-SIZE: 14px; COLOR: #666666; LINE-HEIGHT: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.navdivider2 {
	OVERFLOW-Y: hidden; FONT-SIZE: 1px; BACKGROUND-IMAGE: url(../images/persistent/dottedLine.gif); BACKGROUND-REPEAT: repeat; HEIGHT: 1px; BACKGROUND-COLOR: #ebebeb
}
.navdividerVertical {
	BACKGROUND-POSITION: center 50%; BACKGROUND-IMAGE: url(../images/persistent/dottedLineVertical.gif); WIDTH: 9px; BACKGROUND-REPEAT: repeat-y; HEIGHT: 325px
}
.navItemHeadlines {
	PADDING-RIGHT: 2px; PADDING-LEFT: 6px; PADDING-BOTTOM: 2px; FONT: 10px Verdana, Arial, sans-serif; COLOR: #666666; PADDING-TOP: 2px; BACKGROUND-COLOR: #ebebeb
}
.navItemHeadlines A {
	COLOR: #333333; TEXT-DECORATION: none
}
.navItemHeadlines A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.privacyStatement {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 9px; PADDING-BOTTOM: 5px; COLOR: #333333; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.privacyStatement A {
	COLOR: #333333
}
.privacyStatement A:hover {
	COLOR: #666666
}
#frameLayer {
	Z-INDEX: 10; LEFT: 139px; VISIBILITY: hidden; OVERFLOW: hidden; WIDTH: 392px; POSITION: absolute; TOP: 19px; HEIGHT: 375px
}
#frameLayer {
	Z-INDEX: 10; LEFT: 139px; VISIBILITY: hidden; OVERFLOW: hidden; WIDTH: 392px; POSITION: absolute; TOP: 126px; HEIGHT: 375px
}
.featureCutline {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; COLOR: #000000; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.featureCutlineSlug {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.featureStoryBlock {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BACKGROUND-COLOR: #ebebeb
}
.featureStoryTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.featureStoryTitle A {
	FONT-WEIGHT: bold; COLOR: #333333; TEXT-DECORATION: none
}
.featureStoryTitle A:hover {
	FONT-WEIGHT: bold; COLOR: #333333; TEXT-DECORATION: underline
}
.featureStoryText {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.featureStoryText A {
	FONT-WEIGHT: bold; COLOR: #333333; TEXT-DECORATION: underline
}
.featureStoryText A:hover {
	FONT-WEIGHT: bold; COLOR: #ffcc22; TEXT-DECORATION: underline
}
.CSAfeatures {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; LINE-HEIGHT: 13px; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffcc22
}
.CSAfeatures A {
	FONT-WEIGHT: bold; COLOR: #000000; LINE-HEIGHT: 12px; TEXT-DECORATION: none
}
.CSAfeatures A:hover {
	TEXT-DECORATION: underline
}
.tabSection1 {
	FONT-SIZE: 10px; OVERFLOW: hidden; WIDTH: 238px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.tabSection1 A {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #f2f2f2; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.tabSection1 A:hover {
	FONT-WEIGHT: bold; COLOR: #999999; TEXT-DECORATION: underline
}
.armyHeadlines {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #b3b3b3
}
.armyHeadlines A {
	COLOR: #333333; TEXT-DECORATION: none
}
.armyHeadlines A:hover {
	TEXT-DECORATION: underline
}
.quote {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 14px; PADDING-BOTTOM: 5px; COLOR: #333333; PADDING-TOP: 5px; FONT-FAMILY: "Times New Roman", Times, serif; BACKGROUND-COLOR: #999999
}
.quoteAuthor {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; MARGIN-LEFT: 20px; COLOR: #ffffff; PADDING-TOP: 5px; FONT-FAMILY: "Times New Roman", Times, serif; BACKGROUND-COLOR: #999999
}
.tabSection1 {
	FONT-SIZE: 10px; OVERFLOW: hidden; WIDTH: 239px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.tabSection1 A {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #f2f2f2; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.tabSection1 A:hover {
	FONT-WEIGHT: bold; COLOR: #999999; TEXT-DECORATION: underline
}
.tab1_operations {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; OVERFLOW: hidden; PADDING-TOP: 3px; HEIGHT: 140px; BACKGROUND-COLOR: #500444
}
.tab1_releases {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; OVERFLOW: hidden; PADDING-TOP: 3px; HEIGHT: 140px; BACKGROUND-COLOR: #1b3d24
}
.tab1_speeches {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; OVERFLOW: hidden; PADDING-TOP: 3px; HEIGHT: 140px; BACKGROUND-COLOR: #990000
}
.tab1_writing {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; OVERFLOW: hidden; PADDING-TOP: 3px; HEIGHT: 140px; BACKGROUND-COLOR: #746e5b
}
.soldiersMag {
	TEXT-ALIGN: center
}
.wellbeingListings {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.wellbeingListings A {
	FONT-SIZE: 10px; COLOR: #f2f2f2; TEXT-DECORATION: none
}
.wellbeingListings A:hover {
	TEXT-DECORATION: underline
}
