



<table cellpadding=0 cellspacing=0 border=0 align=center>
<tr>
<td colspan=2><img src='../templates/marketinghp/default/images/datablogging-v2.jpg'></td>
</tr>
<tr>
<td><a href='datablogging-people.log'>How do people use datablogging?</a></td>
<td><a href='datablogging-business.log'>How does business use datablogging?</a></td>
</tr>
<tr>
<td colspan=2><a href='what-is-reger.log'><img src='../templates/marketinghp/default/images/what-is-reger.gif' border=0></a></td>
</tr>
</table>






<table cellspacing=0 width=500 cellpadding=0 border=0 align=center><tr><td background='../myhome/images/shadowbox/corner-upper-left.gif' width=26><img src='../images/clear.gif' width=26 height=23></td><td background='../myhome/images/shadowbox/border-top.gif'></td><td background='../myhome/images/shadowbox/corner-upper-right.gif' width=26><img src='../images/clear.gif' width=26 height=23></td></tr><tr><td background='../myhome/images/shadowbox/border-left.gif'></td><td valign=top>

<font face=arial size=-2><$LogInBox$>
<br>
<font face=arial size=-1><b>Recent News/Updates/Status</b></font>
<br>
<font face=arial size=-2>For the latest datablogging and Reger.com news, visit Joe Reger, Jr's blog:<br>
<img src='images/arrow-sm-yellow.gif' border=0 width=9 height=9 align=middle> <a href='http://www.joereger.com/logmain7.log'>Get News Here.</a></font>
<br><br>
<font face=arial size=-1><b>Current Version:</b></font>
<br>
<font face=arial size=+2 color=#cccccc><b><$VersionNumber$></b></font>
<br>
<img src='images/arrow-sm-yellow.gif' border=0 width=9 height=9 align=middle>  <font face=arial size=-2><a href='versions.log'>List All Versions.</a></font><br><br></font>

</td><td background='../myhome/images/shadowbox/border-right.gif'></td></tr><tr><td background='../myhome/images/shadowbox/corner-lower-left.gif'><img src='../images/clear.gif' width=26 height=23></td><td background='../myhome/images/shadowbox/border-bottom.gif'></td><td background='../myhome/images/shadowbox/corner-lower-right.gif'><img src='../images/clear.gif' width=26 height=23></td></tr></table>