

body, p {
    font-family: OpenSansLight ,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 20px;
}


h1, h2, h3, h4, h5 {
    font-family: WisdomScript, Arial, sans-serif;
    /*letter-spacing: 0;*/
}

h1 {font-size: 38px;}
h2 {font-size: 30px;}
h3 {font-size: 24px;}
h4 {font-size: 18px;}
h5 {font-size: 14px;}

.hero-unit h1 {
    font-family: WisdomScript, Arial, sans-serif;
    /*letter-spacing: 0;*/
}

.hero-unit h4 {
    font-family: OpenSansLight, Arial, sans-serif;
    /*letter-spacing: 0;*/
    padding-top: 6px;
}

.post {
    margin-left: 35px;
}

.post .postbody {
    margin-top: 8px;
    margin-left: 3px;
}

.post h2 {
    font-family: OpenSansSemiBold, Arial, sans-serif;
    font-size: 24px;
    letter-spacing: -2px;
}

.post h5 {
    font-family: OpenSansSemiBold, Arial, sans-serif;
    color: #cccccc;
    font-size: 12px;
    letter-spacing: -1px;
}

.post .logname {
    font-family: WisdomScript, Arial, sans-serif;
    color: #999;
    font-size: 14px;
    margin-left: 10px;
}

.post .lognameagotext {
    float: right;
    margin-top: 8px;
    margin-left: 30px;
}

.postdetailtitle {
    font-family: OpenSansSemiBold, Arial, sans-serif;
    letter-spacing: -2px;
}

#fieldlayout h1, #fieldlayout h2, #fieldlayout h3, #fieldlayout h4, #fieldlayout h5  {
    font-family: OpenSansLight, Arial, sans-serif;
}

