<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping resource="reger/dao/Poll.hbm.xml" />
        <mapping resource="reger/dao/Groups.hbm.xml" />
        <mapping resource="reger/dao/Accountuser.hbm.xml" />
        <mapping resource="reger/dao/Megalog.hbm.xml" />
        <mapping resource="reger/dao/Contentpage.hbm.xml" />
        <mapping resource="reger/dao/Pl.hbm.xml" />
        <mapping resource="reger/dao/Emailapi.hbm.xml" />
        <mapping resource="reger/dao/Megadefault.hbm.xml" />
        <mapping resource="reger/dao/Fileacl.hbm.xml" />
        <mapping resource="reger/dao/Pagenotfound.hbm.xml" />
        <mapping resource="reger/dao/Megafield.hbm.xml" />
        <mapping resource="reger/dao/Emailapiaddress.hbm.xml" />
        <mapping resource="reger/dao/Accountuseracl.hbm.xml" />
        <mapping resource="reger/dao/Location.hbm.xml" />
        <mapping resource="reger/dao/Mobile.hbm.xml" />
        <mapping resource="reger/dao/Eventtoepisode.hbm.xml" />
        <mapping resource="reger/dao/Pollreadercomment.hbm.xml" />
        <mapping resource="reger/dao/Templatenew.hbm.xml" />
        <mapping resource="reger/dao/Systemproperty.hbm.xml" />
        <mapping resource="reger/dao/Aclobject.hbm.xml" />
        <mapping resource="reger/dao/Image.hbm.xml" />
        <mapping resource="reger/dao/Offensivecontentpl.hbm.xml" />
        <mapping resource="reger/dao/Scheduler.hbm.xml" />
        <mapping resource="reger/dao/Systemmessage.hbm.xml" />
        <mapping resource="reger/dao/Accounttype.hbm.xml" />
        <mapping resource="reger/dao/Traffic.hbm.xml" />
        <mapping resource="reger/dao/Accountuserlogaccess.hbm.xml" />
        <mapping resource="reger/dao/Message.hbm.xml" />
        <mapping resource="reger/dao/Linkrotrecommendation.hbm.xml" />
        <mapping resource="reger/dao/Savedsearchfqe.hbm.xml" />
        <mapping resource="reger/dao/Vstransaction.hbm.xml" />
        <mapping resource="reger/dao/Tag.hbm.xml" />
        <mapping resource="reger/dao/Emailsubscriber.hbm.xml" />
        <mapping resource="reger/dao/Accountuseraclgroup.hbm.xml" />
        <mapping resource="reger/dao/Pollreaderanswer.hbm.xml" />
        <mapping resource="reger/dao/Banner.hbm.xml" />
        <mapping resource="reger/dao/Friend.hbm.xml" />
        <mapping resource="reger/dao/Megalogtype.hbm.xml" />
        <mapping resource="reger/dao/Megaoption.hbm.xml" />
        <mapping resource="reger/dao/Savedsearchlog.hbm.xml" />
        <mapping resource="reger/dao/Event.hbm.xml" />
        <mapping resource="reger/dao/Plnavhide.hbm.xml" />
        <mapping resource="reger/dao/Savedsearcheventtype.hbm.xml" />
        <mapping resource="reger/dao/Polarhrm.hbm.xml" />
        <mapping resource="reger/dao/Savedsearch.hbm.xml" />
        <mapping resource="reger/dao/Bandwidth.hbm.xml" />
        <mapping resource="reger/dao/Favesite.hbm.xml" />
        <mapping resource="reger/dao/Loginhistory.hbm.xml" />
        <mapping resource="reger/dao/Savedsearchlocation.hbm.xml" />
        <mapping resource="reger/dao/Plcontentoverride.hbm.xml" />
        <mapping resource="reger/dao/Plpeer.hbm.xml" />
        <mapping resource="reger/dao/Megavalue.hbm.xml" />
        <mapping resource="reger/dao/Friendinvitationgroup.hbm.xml" />
        <mapping resource="reger/dao/Pollanswer.hbm.xml" />
        <mapping resource="reger/dao/Plcontentpage.hbm.xml" />
        <mapping resource="reger/dao/Error.hbm.xml" />
        <mapping resource="reger/dao/Friendmessagerecipient.hbm.xml" />
        <mapping resource="reger/dao/Megafieldparam.hbm.xml" />
        <mapping resource="reger/dao/Locationtoevent.hbm.xml" />
        <mapping resource="reger/dao/Timeperiod.hbm.xml" />
        <mapping resource="reger/dao/Eventtogroup.hbm.xml" />
        <mapping resource="reger/dao/Bugcomment.hbm.xml" />
        <mapping resource="reger/dao/Megachartyaxis.hbm.xml" />
        <mapping resource="reger/dao/Groupmembership.hbm.xml" />
        <mapping resource="reger/dao/Episode.hbm.xml" />
        <mapping resource="reger/dao/Bugcategory.hbm.xml" />
        <mapping resource="reger/dao/Trackback.hbm.xml" />
        <mapping resource="reger/dao/Linkroteventlookup.hbm.xml" />
        <mapping resource="reger/dao/Megadatatype.hbm.xml" />
        <mapping resource="reger/dao/Linkrot.hbm.xml" />
        <mapping resource="reger/dao/Accountuserfield.hbm.xml" />
        <mapping resource="reger/dao/Databaseversion.hbm.xml" />
        <mapping resource="reger/dao/Friendinvitation.hbm.xml" />
        <mapping resource="reger/dao/Logtypexform.hbm.xml" />
        <mapping resource="reger/dao/Polarhrmdata.hbm.xml" />
        <mapping resource="reger/dao/Pleventtypeid.hbm.xml" />
        <mapping resource="reger/dao/Eventxformdata.hbm.xml" />
        <mapping resource="reger/dao/Aclgroup.hbm.xml" />
        <mapping resource="reger/dao/Help.hbm.xml" />
        <mapping resource="reger/dao/Friendinvitationlogid.hbm.xml" />
        <mapping resource="reger/dao/Aclgroupmembershipgrants.hbm.xml" />
        <mapping resource="reger/dao/Trafficbypage.hbm.xml" />
        <mapping resource="reger/dao/Accountusertype.hbm.xml" />
        <mapping resource="reger/dao/Robotstxt.hbm.xml" />
        <mapping resource="reger/dao/Systemlicense.hbm.xml" />
        <mapping resource="reger/dao/Account.hbm.xml" />
        <mapping resource="reger/dao/Pldeletearchive.hbm.xml" />
        <mapping resource="reger/dao/Savedsearchaccount.hbm.xml" />
        <mapping resource="reger/dao/Friendinvitationeventtypeid.hbm.xml" />
        <mapping resource="reger/dao/Megachart.hbm.xml" />
        <mapping resource="reger/dao/Debuglevel.hbm.xml" />
        <mapping resource="reger/dao/Accountuserpladmin.hbm.xml" />
        <mapping resource="reger/dao/Eventtaglink.hbm.xml" />
        <mapping resource="reger/dao/Search.hbm.xml" />
        <mapping resource="reger/dao/Accountuserpersistentlogin.hbm.xml" />
        <mapping resource="reger/dao/Friendmessage.hbm.xml" />
        <mapping resource="reger/dao/Offensivecontentdefaults.hbm.xml" />
        <mapping resource="reger/dao/Tagimagelink.hbm.xml" />
        <mapping resource="reger/dao/Bannertraffic.hbm.xml" />
        <mapping resource="reger/dao/Cat.hbm.xml" />
        <mapping resource="reger/dao/Bug.hbm.xml" />


    </session-factory>
</hibernate-configuration>
