<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping resource="reger/dao/hibernate/Poll.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Groups.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Accountuser.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Megalog.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Contentpage.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Pl.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Emailapi.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Megadefault.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Fileacl.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Pagenotfound.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Megafield.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Emailapiaddress.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Accountuseracl.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Location.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Mobile.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Eventtoepisode.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Pollreadercomment.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Templatenew.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Systemproperty.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Aclobject.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Image.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Offensivecontentpl.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Scheduler.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Systemmessage.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Accounttype.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Traffic.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Accountuserlogaccess.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Message.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Linkrotrecommendation.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Savedsearchfqe.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Vstransaction.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Tag.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Emailsubscriber.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Accountuseraclgroup.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Pollreaderanswer.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Banner.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Friend.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Megalogtype.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Megaoption.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Savedsearchlog.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Event.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Plnavhide.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Savedsearcheventtype.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Polarhrm.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Savedsearch.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Bandwidth.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Favesite.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Loginhistory.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Savedsearchlocation.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Plcontentoverride.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Plpeer.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Megavalue.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Friendinvitationgroup.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Pollanswer.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Plcontentpage.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Error.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Friendmessagerecipient.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Megafieldparam.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Locationtoevent.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Timeperiod.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Eventtogroup.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Bugcomment.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Megachartyaxis.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Groupmembership.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Episode.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Bugcategory.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Trackback.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Linkroteventlookup.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Megadatatype.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Linkrot.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Accountuserfield.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Databaseversion.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Friendinvitation.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Logtypexform.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Polarhrmdata.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Pleventtypeid.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Eventxformdata.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Aclgroup.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Help.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Friendinvitationlogid.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Aclgroupmembershipgrants.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Trafficbypage.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Accountusertype.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Robotstxt.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Systemlicense.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Account.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Pldeletearchive.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Savedsearchaccount.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Friendinvitationeventtypeid.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Megachart.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Debuglevel.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Accountuserpladmin.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Eventtaglink.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Search.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Accountuserpersistentlogin.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Friendmessage.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Offensivecontentdefaults.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Tagimagelink.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Bannertraffic.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Cat.hbm.xml" />
        <mapping resource="reger/dao/hibernate/Bug.hbm.xml" />


    </session-factory>
</hibernate-configuration>
