
<table border=0 cellpadding=3>
<tr>
<td valign=top>
<a href=<$Logentry.Url$>><img src="images/template/templatename/asterisk/asterisk.gif" alt="" border="0" align=middle></a>
</td>
<td valign=top>
<a href=<$Logentry.Url$>><font face=arial size=+1 color="#339900"><strong><$Logentry.Title$></strong></font></a>
<br>
<font face=arial size=-1 color=#000000><strong><$Ago.Text$> :: <$Log.Name$></strong></font>
<br>
<font face=arial size=-1 color=#000000><$Logentry.Body$></font>
<br> 
<font face=arial size=-2 color=#000000><$Logentry.Datetime.Expanded$> | <$Messages.Count$> Messages | <$Images.Count$> Images</font>
</td>
</tr>
</table>

