#mastfloat {
	Z-INDEX: 5000
}
.masthead-navElement {
	DISPLAY: inline; Z-INDEX: 1000; VISIBILITY: hidden; POSITION: absolute; TOP: 145px
}
#topNavElement0 {
	LEFT: -1px
}
#topNavElement1 {
	LEFT: 107px
}
#topNavElement2 {
	LEFT: 230px
}
#topNavElement3 {
	LEFT: 353px
}
#topNavElement4 {
	LEFT: 476px
}
#topNavElement5 {
	LEFT: 599px
}
#countryNavElement0 {
	LEFT: 548px; TOP: 27px
}
.menuBox {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BORDER-LEFT: #999 1px solid; WIDTH: 154px; BORDER-BOTTOM: #999 1px solid; BACKGROUND-COLOR: #fff
}
.menuBox#international {
	WIDTH: 124px
}
TD.menuBox {
	FILTER: progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=135, Strength=3) alpha(opacity=95)
}
.menuBox {
	FILTER: alpha(opacity=95)
}
.menuBox P {
	FILTER: alpha(opacity=95)
}
.menuBox P {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; MARGIN-LEFT: 14px; TEXT-INDENT: -14px
}
.menuBox P.hr {
	MARGIN-LEFT: 0px; TEXT-INDENT: 0px
}
.menuBox P.hr IMG {
	WIDTH: 100%; HEIGHT: 1px
}
SPAN.spcr {
	FONT-SIZE: 2px
}

@media Screen    
{
.masthead-navElement {
	moz-opacity: 0.95
}

}
