<!-- START ENTRY TEMPLATE <$Number.on.Page$> -->
<section id="Section-<$Number.on.Page$>" class="parallax_post" style="<$Parallax.Style$>">

    <div class="container">

        <div class="row">

            <div class="col-md-5 parallax_post_body">
                <div class="lognameagotext" style="float: right;"><h5 style="background: #fff; padding-left: 10px; padding-right: 10px;"><$Ago.Text$></h5></div>
                <h2><a href='<$Logentry.Url$>'><$Logentry.Title$></a></h2>
                <p class="postbody"><$Logentry.Body$></p>
            </div>

            <div class="col-md-7">
                <$File.Thumbs.Lightbox$>
            </div>

        </div>

    </div>

</section>
<!-- END ENTRY TEMPLATE <$Number.on.Page$> -->