<div class=entrywrapper>
    <div class=entrytitle>
        <div class=entryago>
                <font face=arial size=-2><strong><$Ago.Text$> :: <$Log.Name$></strong></font>
        </div>
        <font face=arial size=-1><a href='<$Logentry.Url$>'><font face=arial size=+1><$Logentry.Title$></font></a>
    </div>
    <div class=entrybody><font face=arial size=-2><$Logentry.Body$></font></div>
    <div class=entrydate><font face=arial size=-2><$Logentry.Datetime.Expanded$> | <$Messages.Count$> Comments | <$Images.Count$> Files</font></div>
</div>