UNKNOWN {
	FONT-WEIGHT: 600; FONT-SIZE: 15px; COLOR: #000000; FONT-FAMILY: verdana
}
.subheaderblk {
	FONT-WEIGHT: 600; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: verdana
}
.subheaderred {
	FONT-WEIGHT: 600; FONT-SIZE: 11px; COLOR: #91302b; FONT-FAMILY: verdana
}
.product {
	FONT-WEIGHT: 600; FONT-SIZE: 12px; COLOR: #91302b; FONT-FAMILY: verdana
}
.subheaderylw {
	FONT-WEIGHT: 600; FONT-SIZE: 11px; COLOR: #c28f24; FONT-FAMILY: verdana
}
.subheadergrn {
	FONT-WEIGHT: 600; FONT-SIZE: 11px; COLOR: #006633; FONT-FAMILY: verdana
}
.copytextbold {
	FONT-WEIGHT: 600; FONT-SIZE: 11px; FONT-FAMILY: verdana
}
.copytext {
	FONT-SIZE: 11px; FONT-FAMILY: verdana
}
.tinytext {
	FONT-SIZE: 10px; FONT-FAMILY: verdana
}
.tinytextbold {
	FONT-WEIGHT: 600; FONT-SIZE: 10px; FONT-FAMILY: verdana
}
.tinytextboldred {
	FONT-WEIGHT: 600; FONT-SIZE: 10px; COLOR: #91302b; FONT-FAMILY: verdana
}
SELECT {
	FONT-WEIGHT: 100; FONT-SIZE: 11px; FONT-FAMILY: verdana
}
.dynamic {
	FONT-SIZE: 11px; COLOR: #f3f1ec; FONT-FAMILY: verdana
}
INPUT {
	FONT-SIZE: 11px; FONT-FAMILY: verdana
}
.tinygray {
	FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: verdana
}
.copygray {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: verdana
}
.subheaderolv {
	FONT-WEIGHT: 600; FONT-SIZE: 11px; COLOR: #798060; FONT-FAMILY: Verdana
}
.headerolv {
	FONT-WEIGHT: 600; FONT-SIZE: 13px; COLOR: #798060; FONT-FAMILY: Verdana
}
.subheaderblu {
	FONT-WEIGHT: 600; FONT-SIZE: 11px; COLOR: #3f5d7e; FONT-FAMILY: verdana
}
.subheaderprpl {
	FONT-WEIGHT: 600; FONT-SIZE: 11px; COLOR: #63416b; FONT-FAMILY: verdana
}
.copytextprpl {
	FONT-SIZE: 11px; COLOR: #63416b; FONT-FAMILY: verdana
}
.tinyprpl {
	FONT-SIZE: 10px; COLOR: #63416b; FONT-FAMILY: verdana
}
.addedtocart {
	FONT-WEIGHT: 600; FONT-SIZE: 9px; COLOR: #aa5701; FONT-FAMILY: Verdana
}
.tm {
	FONT-SIZE: 9px; FONT-FAMILY: verdana
}
.errortext {
	FONT-SIZE: 11px; COLOR: #de0200; FONT-FAMILY: Verdana
}
.copytextboldred {
	FONT-WEIGHT: 600; FONT-SIZE: 11px; COLOR: red; FONT-FAMILY: Verdana
}
.copyprpl {
	FONT-SIZE: 11px; COLOR: #63416b; FONT-FAMILY: verdana
}
.hometext {
	FONT-WEIGHT: 600; FONT-SIZE: 11px; COLOR: #454545; FONT-FAMILY: Verdana
}
.tinyhome {
	FONT-SIZE: 10px; COLOR: #454545; FONT-FAMILY: Verdana
}
.copyhome {
	FONT-SIZE: 11px; COLOR: #454545; FONT-FAMILY: Verdana
}
.subheadergray {
	FONT-WEIGHT: 600; FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana
}
.subheaderorng {
	FONT-WEIGHT: 600; FONT-SIZE: 11px; COLOR: #aa5701; FONT-FAMILY: Verdana
}
.cardHeading {
	FONT-WEIGHT: 600; FONT-SIZE: 12px; COLOR: #aa5701; FONT-FAMILY: Verdana
}
.tinyblue {
	FONT-SIZE: 10px; COLOR: #3f5d7e; FONT-FAMILY: Verdana
}
.addedtocartHM {
	FONT-WEIGHT: 600; FONT-SIZE: 9px; COLOR: #3f5d7e; FONT-FAMILY: Verdana
}
.cardHeading {
	FONT-WEIGHT: 600; FONT-SIZE: 12px; COLOR: #aa5701; FONT-FAMILY: Verdana
}
.tinyblue {
	FONT-SIZE: 10px; COLOR: #3f5d7e; FONT-FAMILY: Verdana
}
.subheaderSBC {
	FONT-WEIGHT: 600; FONT-SIZE: 11px; COLOR: #990000; FONT-FAMILY: Verdana
}
.subheaderTI {
	FONT-WEIGHT: 600; FONT-SIZE: 11px; COLOR: #999966; FONT-FAMILY: Verdana
}
