<div class="h2"><$Logentry.Title$></div>
        <div class="entryDate"><$Logentry.Datetime.Expanded$> in <a href="#">Business</a></div>
        <$Logentry.Body$>
        <div class="comments"> <a href="#">Comment</a> (<$Messages.Count$>) | <a href="<$Logentry.Url$>">Permalink</a> <img src="images/commentArrow.gif" /><br />
          <div class="tags">Tags: <a href="#">mother</a>, <a href="#">business</a>, <a href="#">discussion</a></div>
          <div class="spacer"></div>
        </div>