<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
    <!-- Start Chiba Additions -->
    <context-param>
        <param-name>chiba.docs</param-name>
        <param-value>documents</param-value>
    </context-param>
    <context-param>
        <param-name>chiba.forms</param-name>
        <param-value>forms</param-value>
    </context-param>
    <context-param>
        <param-name>chiba.tmp</param-name>
        <param-value>tmp</param-value>
    </context-param>
    <context-param>
        <param-name>chiba.upload</param-name>
        <param-value>upload</param-value>
    </context-param>
    <context-param>
        <param-name>debug</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>error.page</param-name>
        <param-value>/error/500.jsp</param-value>
    </context-param>
    <context-param>
        <param-name>chiba.xforms.stylesPath</param-name>
        <param-value>/forms/xslt</param-value>
    </context-param>
    <!-- End Chiba Additions -->
    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- Start Chiba Additions -->
    <servlet>
        <servlet-name>XFormsServlet</servlet-name>
        <servlet-class>reger.xforms.chiba.adapter.servlet.ChibaServlet</servlet-class>

         <init-param>
             <param-name>chiba.config</param-name>
             <param-value>WEB-INF/chibaConfig.xml</param-value>
         </init-param>
    </servlet>
    <servlet>
        <servlet-name>ShowAttachmentServlet</servlet-name>
        <servlet-class>reger.xforms.chiba.adapter.servlet.ShowAttachmentServlet</servlet-class>
    </servlet>
    <!-- End Chiba Additions -->
    <listener>
        <listener-class>reger.exist.ExistManager</listener-class>
    </listener>
    <listener>
        <listener-class>reger.hibernate.HibernateListener</listener-class>
    </listener>
    <servlet>
      <servlet-name>Loader</servlet-name>
      <servlet-class>reger.scheduledtasks.Loader</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>
   <servlet>
       <servlet-name>map</servlet-name>
       <servlet-class>reger.geo.MapGenerator</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>jcaptcha</servlet-name>
      <servlet-class>reger.jcaptcha.ImageCaptchaServlet</servlet-class>
      <load-on-startup>0</load-on-startup>
   </servlet>
   <servlet>
        <servlet-name>dwr-invoker</servlet-name>
        <servlet-class>uk.ltd.getahead.dwr.DWRServlet</servlet-class>
        <init-param>
        <param-name>debug</param-name>
        <param-value>true</param-value>
        </init-param>
   </servlet>
   <!-- Start fckeditor -->
   <servlet>
        <servlet-name>ConnectorServlet</servlet-name>
        <servlet-class>reger.fckeditor.ConnectorServlet</servlet-class>
   </servlet>
   <servlet>
        <servlet-name>SimpleUploaderServlet</servlet-name>
        <servlet-class>reger.fckeditor.SimpleUploaderServlet</servlet-class>
   </servlet>
   <servlet-mapping>
        <servlet-name>ConnectorServlet</servlet-name>
        <url-pattern>/js/fckeditor/editor/filemanager/browser/default/connectors/jsp/connector</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
        <servlet-name>ConnectorServlet</servlet-name>
        <url-pattern>/~*/js/fckeditor/editor/filemanager/browser/default/connectors/jsp/connector</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
        <servlet-name>SimpleUploaderServlet</servlet-name>
        <url-pattern>/js/fckeditor/editor/filemanager/upload/simpleuploader</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
        <servlet-name>SimpleUploaderServlet</servlet-name>
        <url-pattern>/~*/js/fckeditor/editor/filemanager/upload/simpleuploader</url-pattern>
   </servlet-mapping>
   <!-- End fckeditor -->
   <!-- Start Chiba Additions -->
    <servlet-mapping>
        <servlet-name>dwr-invoker</servlet-name>
        <url-pattern>/flux/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XFormsServlet</servlet-name>
        <url-pattern>/XFormsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAttachmentServlet</servlet-name>
        <url-pattern>/ShowAttachmentServlet</url-pattern>
    </servlet-mapping>
   <!-- End Chiba Additions -->
   <servlet-mapping>
        <servlet-name>dwr-invoker</servlet-name>
        <url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jcaptcha</servlet-name>
        <url-pattern>/jcaptcha</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
        <servlet-name>map</servlet-name>
        <url-pattern>/map</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jsp</servlet-name>
        <url-pattern>*.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jsp</servlet-name>
        <url-pattern>*.log</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jsp</servlet-name>
        <url-pattern>*.jspx</url-pattern>
    </servlet-mapping>
    <!--
    <servlet-mapping>
        <servlet-name>jsp</servlet-name>
        <url-pattern>*.xml</url-pattern>
    </servlet-mapping>
    -->
    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.log</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>500</error-code>
        <location>/error/500.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error/404.jsp</location>
    </error-page>
    <resource-ref>
        <description>Database Connection</description>
        <res-ref-name>jdbc/db</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>